{% extends 'acs_home/base.html' %}

{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'acs_home/css/acceuil.css' %}">
<link href="{% static 'fontawesome-free-5.14.0-web/css/all.min.css' %}" rel="stylesheet">
{% endblock  %}

{% block contend %}
<div class="banniere">
        
    <!--<div class="titre">
          <span><strong>ONG</strong> <strong>ACS</strong></span>
          <p>STRUCTURE</p>
           <nav>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit<br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
      </nav>
  </div>-->

  <div class="text">
    <span>Bienvenue à <strong>ONG</strong><strong>ACS</strong> <br></span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat fuga consectetur error pariatur. Dolores ipsam soluta totam sed quae labore, accusamus vitae laborum hic, in non nam debitis quia.
  </div>

</div>

<div class="centre">
   <div class="leftbars">
       
    <div class="cas">
     <a href="QuiSommeNous.html" class="liensbtn"><button class="btn">voir plus</button></a>

     <div class="textcontenue">

       <h4>Qui-Somme-Nous</h4>
       <div>
         <strong>A</strong>ide au <span>C</span>entre <span>S</span>anitaire, a été créé le 04 Avril 2019 à Abidjan,ayant pour objectif:Apporter une assistance, un soutien aux centres sanitaires
           afin de permettre aux personnels de ces centres de travailler dans de meilleures conditions.Ensuite, .....<a href="#" style="color: rgb(240, 57, 87);">Poursuivre</a>
       </div>

     </div>

    </div>

    <div class="cas">
      <div class="textcontenue2">

          <h4>Nos-Actualités</h4>
          <div>
            C'est d'oeuvrer afin d'apporter une assistance, un soutien aux centres sanitaires afin de permettre aux personnels de ces centres de travailler dans de meilleures conditions....<a href="#" style="color: #042844;">Poursuivre</a>
          </div>

      </div>
      <a href="actualite.html" class="liensbtn"><button class="btn">voir plus</button></a>
    </div>

    <div class="cas">
      <a href="#" class="liensbtn"><button class="btn">voir plus</button></a>

      <div class="textcontenue3">

        <h4>Nos-Activités</h4>
        <div>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio excepturi quod laborum voluptatum sequi inventore ratione ullam eaque dolores, delectus assumenda tempora vero minima aliquam? Exercitationem harum veniam vitae earum?
          Non ut expedita blanditiis, dignissimos, cupiditate amet corrupti sunt pariatur perspiciatis ad totam earum sint. Necessitatibus nostrum cupiditate expedita voluptatum minima. Libero doloribus quisquam eos modi praesentium neque. Ipsum, eum.
        </div>

      </div>

    </div>
    <div class="cas">
      <div class="textcontenue4">

        <h4>Nos-But</h4>

        <div>
          C'est de contribuer à l'amélioration des conditions de vie de des populations à travers la recherche et les actions....
        </div>
      </div>
      <div class="img1"></div>
    </div>


    <div class="cas">
      <div class="img2"></div>

      <div class="textcontenue5">
        <h4>Nos-Objectifs</h4>
        <div>
          <ol>
            <li>Promouvoir la proximité des centres de santé</li>
            <li>Dévelloper la gestion d'un environnement sain et durable</li>
            <li>Contribuer...<a href="#" style="color: rgb(240, 57, 87);">Poursuivre</a></li>
        </ol>
        </div>
      </div>
    </div>
    <div class="cas">

      <div class="textcontenue6">
        <h4>Nos-But</h4>
        <div>
          C'est de contribuer à l'amélioration des conditions de vie de des populations à travers la recherche et les actions....
        </div>
      </div>

      <div class="img4"></div>
    </div>


    <div class="cas">
      <div class="img5"></div>

      <div class="textcontenue7">

        <h4>Nos-But</h4>
        <div>
          C'est de contribuer à l'amélioration des conditions de vie de des populations à travers la recherche et les actions....
        </div>

      </div>
    </div>
    <div class="cas">
      <div class="textcontenue8">

        <h4>Nos-But</h4>
        <div>
          C'est de contribuer à l'amélioration des conditions de vie de des populations à travers la recherche et les actions....
        </div>

      </div>
      <div class="img6"></div>
    </div>
     <!---ajout de cas 17-18 pour froid et climatisation-->
   </div>
   <div class="rightbars">

          <div class="fb-page pluginfb" data-href="https://www.facebook.com/apprendreaprogrammer1/" data-tabs="timeline" data-width="" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-offset="70" data-constraint=".rightbars"><blockquote cite="https://www.facebook.com/apprendreaprogrammer1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/apprendreaprogrammer1/">Apprendre à programmer</a></blockquote></div>

          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=197812702312256&autoLogAppEvents=1" nonce="mdaEwPxq"></script>

   </div>


   <footer>

    <p><strong>ONG</strong> ACS</p>
   <div class="bars">

    <div>
        
        <strong>Organisation Non Gouvernementale</strong><br>
        Siège social :   Abidjan Cocody -angré cité caféier 8lot94<br>
        Mobile : +225 07 79 13 96 76
        Mobile : +225 07 69 34 08 18
        Mobile : +33  75 112 19 40
        Email : ongacs12@gmail.com  

     </div>
     
     <div>
       <span>NOS VALEURS</span><br>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam earum impedit blanditiis optio vero nihil 
     </div>

     <div>
      <span>NOTRE STATEGIE</span><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, unde nihil repellat cum possimus debitis exercitationem natus ullam sint quisquam laborum aliquam. Similique obcaecati
     </div>

     <div>
      <span>NOS ATOUTS</span><br>
      Rigueur – Dynamisme – Respect de la clientèle et du planning – Compétence.
     </div>
   </div>

   <div class="sign">
    © <span>ESO-DEV</span> 2020 | Agence marketing digital Abidjan - Création de sites internet
  </div>
  </footer>
</div>

<div  class="btn-devis">ADHERER À ONG-ACS<i class="fa fa-clipboard-list"></i></div>
<script src="{% static '/acs_home/js/acceuil.js' %}"></script>  
<script async defer crossorigin="anonymous" src="https://web.facebook.com/apprendreaprogrammer1"></script>

{% endblock  %}

