<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!--les liens-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

            <!--le font du h2-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+JP:wght@100&family=Pacifico&family=Shadows+Into+Light&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static '/acs_load/css/loader.css' %}">
    <link href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}" rel="stylesheet">
</head>
<body>

    <div class="loader">
        <div class="lettres">
            <img src="{% static '/img/logo.png' %}" alt="logo" height="50" width="50">
            <svg>
                <circle cx="140" cy="140" r="140"></circle>
                <!--<circle cx="130" cy="10" r="130" class="anime"></circle>-->
            </svg>
        </div>
    </div>
    <a href="{% url 'acs_home:home' %}" class="url"></a>
    <script src="{% static '/acs_load/js/loader.js' %}"></script>
</body>
</html>
