<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!--les liens-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="pageRemercimentInscrit.css">
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.min.css">
</head>
<body>
    <!--remerciment-->
<aside class="aside">
    <div class="case">
        <p>
            veuillez verifier votre mail <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" target="_blank" class="affichemail"></a>
            pour terminer votre inscription
        </p>

        <a href="acceuil.html" class="btn"><i class="fa fa-angle-double-left"></i>Retour à la page d'acceuil</a>
    </div>
</aside>

<script src="pageRemercimentInscrit.js"></script>
</body>
</html>